$w_100:100%;$left:left;$cent:center;$block:block;$i-b:inline-block;$rel:relative;$abs:absolute;$right:right;


/*colors*/
$_232:#232323;
$fff:#fff;
$primary:#4CAF50;
$small:#0093bf;
$e2e:#e2e2e2;
$_para:#a5a5a5;
$e8e:#e8e8e8;
$f2f:#f2f3f8;
$sub:#f24c0a;
$_000:#000;


/*media queries */
$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet:"(min-width:768px) and (max-width:991px)";